---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { slugify } from '../../utils/common-utils';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project) => ({
        params: { slug: project.id },
        props: { project }
    }));
}

type Props = {
    project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;
const { title, publishDate, description, tags = [], projectUrl, sourceUrl, seo } = project.data;
const { Content } = await render(project);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description ?? ''} image={seo?.image}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl font-serif font-medium leading-tight sm:text-4xl sm:leading-tight">{title}</h1>
            <div class="mt-4 text-sm">
                <FormattedDate date={publishDate} />
            </div>
            <div class="mt-4 flex gap-4 text-sm">
                {projectUrl && <a class="hover:underline hover:underline-offset-2" href={projectUrl} target="_blank" rel="noopener noreferrer">Live Demo ↗</a>}
                {sourceUrl && <a class="hover:underline hover:underline-offset-2" href={sourceUrl} target="_blank" rel="noopener noreferrer">Source ↗</a>}
            </div>
            {
                tags.length > 0 && (
                    <div class="mt-4 flex flex-wrap gap-2">
                        {tags.map((tag) => (
                            <a class="text-xs border border-current py-0.5 px-2 hover:bg-muted" href={`/tags/${slugify(tag)}/`}>
                                {tag}
                            </a>
                        ))}
                    </div>
                )
            }
        </header>
        <div class="prose prose-dante max-w-none sm:prose-lg">
            <Content />
        </div>
    </article>
</BaseLayout>
